<form action="/routes/register"  method="post">
    <h3>Emplyee Details</h3>
    <label for="Name">Name:</label>
    <input id="name" name="name" type="text" placeholder="Name"><br>
    <label for="desg">Designation:</label>
    <input type="text" placeholder="Designation" name="desg" id="desg"><br>
    <label for="id">Employee Id:</label>
    <input type="number" name="id" id="id" placeholder="ID"><br>
    <label for="doj">Date of Joinng:</label>
    <input type="date" name="doj" id="doj"><br>
    
    <h3>Personal Details</h3>
    <label for="Age">Age:</label>
    <input name="age" id="age" type="number" placeholder="Age"><br>
    <label for="father">Father Name:</label>
    <input name="fName" id="fName" type="text" placeholder="Father Name"><br>
    <label for="mother">Mother Name:</label>
    <input name="mName" id="mName" type="text" placeholder="Mother Name"><br>
    <button type="submit">Submit</button>
</form>