<!DOCTYPE html>
<html lang="en">
<head>
</head>
<body>
    <form action="/upload" method="post" enctype="multipart/form-data">
        <input type="file" name="image">
        <input type="submit">
    </form>
    <!-- <form action="/uploadxlsx" method="post" enctype="multipart/form-data">
        <input type="file" name="xlsx">
        <input type="submit">
    </form>
    <form action="/update" method="post" enctype="multipart/form-data">
        <input type="file" name="xlsx">
        <input type="submit">
    </form>
     -->
</body>
</html>