<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <title>Add System</title>
</head>
<body>
    <form action="/routes/addsystem" method="post">
        <h2>Add System</h2>
        <input type="text" name="sysName" id="sysName" placeholder="Name" required><br><br>
        <input type="number" name="height" id="height" placeholder="Height"><br><br>
        <button type="submit" name="submit" class="btn btn-primary">submit</button>
    </form>
</body>
</html>

