<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <title>Update</title>
</head>
<body>
    <form action="/routes/update" method="post">
        <h3>System update</h3>
        <br>
        <select class="selectpicker" data-style="btn-info" name="selectpicker" id="selectpicker">
            <optgroup label="Select System" name="option">
                <option name = "picker"value="1" disabled>Select system</option>
                <% rows.forEach(function(row){ %>
                <option value="<%= row.Name %>"><%= row.Name %></option>
                <% }) %>
            </optgroup>
        </select><br><br>
        <input type="number" placeholder="Height" name="height" id="height"><br><br>
        <input class="btn btn-primary" type="submit" value="Submit" />
    </form>
    
</body>
</html>

