<h2>Sign up</h2>
<form action="/signup" method="POST">
    <label for="email">Email</label>
    <input type="email" name="email" id="email" placeholder="email" required><br>
    <label for="email">Name</label>
    <input type="text" name="name" id="name" placeholder="name" required><br>
    <button type="submit">Sign up</button>
</form>