<h2>Log in</h2>
<form action="/routes/login" method="POST">
    <label for="email">Email</label>
    <input type="email" name="email" id="email" required><br>
    <label for="password">Password</label>
    <input type="password" name="password" id="password" required><br>
    <button type="submit">sign up</button>
</form>